[submodule "modules/hgcal-rechit-input-dat-gen"]
	path = modules/hgcal-rechit-input-dat-gen
	url = https://github.com/kingusiu/hgcal-rechit-input-dat-gen.git
[submodule "modules/DeepJetCore"]
	path = modules/DeepJetCore
	url = https://github.com/DL4Jets/DeepJetCore
[submodule "modules/HGCalML"]
	path = modules/HGCalML
	url = https://github.com/jkiesele/HGCalML.git
[submodule "modules/scinum"]
	path = modules/scinum
	url = https://github.com/riga/scinum.git
[submodule "modules/plotlib"]
	path = modules/plotlib
	url = https://github.com/riga/plotlib.git
[submodule "modules/law"]
	path = modules/law
	url = https://github.com/riga/law.git
